.photo-content {
  text-align: center;
}

.photo-image {
  margin-top: 20px;
}

.photo-image img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.photo-image img.hover-effect:hover {
  transform: scale(1.05);
}
